/*-------Generalt--------*/

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;

}

section {
    max-width: ;
    margin: ;


}

p {
    font-family: ;
    font-size: ;

}

knap {}

/*-------Forside--------*/

#forside {
    position: relative;
    width: 100vw;
    height: 56vw;
}

#forside_pic {

    background-image: url(billed-filer/bg.png);
    position: absolute;
    width: 100vw;
    height: 56vw;
    background-size: cover;
}


#storm_top {
    background-image: url(svg-filer/stormblinker-01.svg);
    position: absolute;
    top: 20%;
    left: 30%;
    height: 30vw;
    width: 30vw;
    background-size: 200% 100%;
    animation: stormblinker_kf 2s infinite both steps(2);

}

@keyframes stormblinker_kf {
    0% {
        background-position: 0% 0%;
    }
    70% {
        background-position: 0% 0%;
    }
    100% {
        background-position: -100% 0%;
    }
}

#knap_bottom {
    background-image: url(svg-filer/knap_startside.svg);
}


/*-------Storms værelse--------*/

#storms_vaerlse {
    position: relative;
    width: 100vw;
    height: 56vw;
    overflow: hidden;
}

#storms_vaerlse_pic {
    background-image: url(billed-filer/storms_room.png);
    position: absolute;
    width: 100vw;
    height: 56vw;
    background-size: cover;
    overflow: hidden;

}

#storm_container {
    position: absolute;
    /*hvor Storm er placeret på scenen    */
    top: 75%;
    left: 40%;
    /*højde og vide på containeren der displayer Storm    */
    height: 7vw;
    width: 5vw;
    /*gør at vores figur er scalerbar*/
    transform: scale(7);


}

#storm_sprite {
    background-image: url(svg-filer/storm_sprite-01.svg);
    position: absolute;
    height: 7vw;
    width: 5vw;

    /* background-sizen sættes til 800% fordi spriten er en 8 takts spite(8 figuer bred)*/
    background-size: 800%;

    /*animation sættes til tidsinterval 2 sek og er en 2 steps amination, altså den køre mellem to billeder    */
    animation: storm_sprite_kf 2s infinite both steps(2);




}

/*placering af de enkelte keyframes*/

@keyframes storm_sprite_kf {
    0% {
        background-position: 0% 0%;
    }


    100% {
        background-position: -200% 0%;
    }
}



#textbesked_1 {

    margin-left: ;
    margin-right: ;
    display: none;

}

#textbesked_2 {

    margin-left: ;
    margin-right: ;
    display: none;

}

#textbesked_3 {

    margin-left: ;
    margin-right: ;
    display: none;

}

#knap_1 {

    margin-left: ;
    margin-right: ;

}

#politimand_container {}

#politimand_textbox {
    margin-left: ;
    margin-right: ;
    display: none;
}

#knap_2 {

    margin-left: ;
    margin-right: ;

}

#thumbsup_container {}

#thumbsup_textbox {
    margin-left: ;
    margin-right: ;
    display: none;
}


/*-------End site--------*/

#endsite {
    background-image: image();
    display: flex;
    flex-wrap: wrap;
}

#endsite_container {}

#textbox_endbesked {
    display: none;
}

#textbox_endlink {

    text-decoration: none;
}
